#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    row-gap: 50px;
    column-gap: 50px;
    padding-top: 50px;


}
.userBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;

    row-gap: 20px;
    border: 1px cornflowerblue solid;
    border-radius: 10px;
    padding: 20px;
}

.postsTitles {
    /*width: 300px;*/
    display: none;
}

.postsTitles.open {
    display: block;
    transition: all 1s ease;
}
.buttonHome{
    background: cornflowerblue;
    position: absolute;
    top: 20px;
    left: 20px;
}
.userInfo{
    margin-top: 50px;
}